<h1><%=I18n.t(:edit_thing)%></h1>

<%= error_messages_for :thing %>
<% form_for :@thing, :url=>{:action=>'update', :id=>@thing.id} do |f| -%>
  <%= render(:partial => f) %>
  <p><label>&nbsp;</label>
  <%= submit_tag I18n.t(:send_data) %></p>
<% end -%>

