<h1><%=I18n.t(:add_thing)%></h1>

<%= error_messages_for :thing %>
<% form_for :@thing, :url=>{:action=>'create'},:html => { :multipart => true } do |f| -%>
  <%= render(:partial => f, :locals=>{:thing=>nil}) %>
  <p><label>&nbsp;</label>
  <%= submit_tag I18n.t(:send_data) %></p>
<% end -%>

