body {
  font-family: sans;
  padding: 0px;
  margin: 0px;
}
#title {
  background: #BCE;
  font-size: 3em;
  letter-spacing: -6px;
  padding: 0 0 0 10px;
}
#menu {
  padding: 3px 3px 3px 10px;
  background: #8AF;
}
#content {
  padding: 10px;
}
h1 {
  background: #FAB;
  font-size: 1.2em;
  padding: 3px;
  margin: 5px 0 0 -10px;
  padding: 0 0 0 10px;
}
label {
  width: 120px;
  float: left;
  text-align: right;
  margin-right: 4px;
  display: block
}

