<h1><%=I18n.t(:my_profile)%></h1>
<%= link_to(I18n.t(:edit_my_profile), :action=>:edit) %><br/>
<br/>

<%= render(:partial=>'detail', :object=>@user) %>

<div class="location">
<% if @user.location.to_s != '' %><%=@user.location%><%end%><br/>
</div>


