Hi <%=@p.owner.name%> !<br/>
<br/>
Sorry ! <b><%=@p.user.name%></b> is no longer interested by your thing "<%=@p.thing.name%>"<br/>
<br/>
See you on <i>Swap!</i><br/>
<a href="http://swap.protaskm.com/">http://swap.protaskm.com/</a><br/>
<br/>

