Hi <%=@user.name%> !<br/>
<br/>
<b><%=@f.name%></b> invited you on <i>Swap!</i><br/>
<br/>
<% if @msg and @msg!="" %>
<%= @msg %><br/>
<br/>
<% end %>
<i>Swap!</i> is a web site to swap anything on your own network of friends.<br/>
<a href="http://swap.protaskm.com/">See all the things already on <i>Swap!</i></a> that you could have now.<br/>
<br/>
You can <a href="http://swap.protaskm.com/session/new">login on <i>Swap!</i> at this address</a> with this password: <%=@pwd%><br/>
<br/>
See you on <i>Swap!</i><br/>
<a href="http://swap.protaskm.com/">http://swap.protaskm.com/</a><br/>
<br/>


