Hi !<br/>
<br/>
<b><%=@m.user.name%></b> posted a message for "<%=@m.thing.name%>"<br/><br/>
<br/>
<i><%=@m.message%></i><br/>
<br/>
See you on <i>Swap!</i><br/>
<a href="http://swap.protaskm.com/">http://swap.protaskm.com/</a><br/>
<br/>

