<h2>Administration</h2>

<div class="groupbox">
<div id="title">Users:</div>
<table>
<tr style="font-weight:bold;">
<td>Avatar</td>
<td>Name</td>
<td>last login</td>
<td>things</td>
<td>reminders</td>
</tr>

<%= render(:partial => 'user', :collection=>@users) %>
</table>
</div>

